html.admin-login, body.admin-login {
    height: 100%;
    overflow: hidden;
}

body.admin-login {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5%;
}

.admin-login #main {
    padding: 0 !important;
    margin: 0;
    width: 100%;
}

.admin-login header.major {
    margin-bottom: 2em !important;
    padding: 0 !important;
    border: none !important;
}

.admin-login header.major:before, 
.admin-login header.major:after {
    display: none !important;
}

.admin-login .box.container.medium {
    margin-bottom: 0 !important;
}

.admin-block { 
    background: rgba(224, 224, 224, 0.15); 
    padding: 2em; 
    margin-bottom: 3em; 
    border-radius: 4px; 
    overflow: hidden; 
}

.social-row { 
    padding: 1em 0; 
    border-bottom: 1px solid rgba(0, 0, 0, 0.05); 
}
.social-row:last-child { 
    border-bottom: none; 
}

.table-header {
    margin-bottom: 0.5em; 
    font-size: 0.8em; 
    text-transform: uppercase; 
    color: #aaa;
}

.network-label {
    display: flex;
    align-items: center;
    height: 100%;
    font-weight: bold;
    color: #5b5b5b;
}
.network-label .icon { 
    margin-right: 0.5em; 
}

.action-btn { 
    color: #ff4444; 
    border-bottom: none; 
    font-size: 1.2em; 
}
.action-btn:hover { 
    color: #cc0000; 
}

.msg-success {
    color: green; 
    font-weight: bold; 
    text-align: center; 
    margin-bottom: 2em;
}

.msg-error {
    color: #ff4444; 
    text-align: center; 
    font-weight: bold;
    margin-bottom: 1em;
}

.text-center { 
    text-align: center; 
}

.text-right { 
    text-align: right; 
}

.mt-1 { 
    margin-top: 1em; 
}

.mt-2 { 
    margin-top: 2em; 
}

.btn-wide {
    min-width: 22em;
}

.accordion-header {
    background-color: #f1f1f1;
    color: #444;
    cursor: pointer;
    padding: 1.5em;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-weight: bold;
    font-size: 1.2em;
    border-radius: 4px;
    margin-bottom: 0.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion-header:hover, .accordion-header.active {
    background-color: #ddd;
}

.accordion-header:after {
    content: '\002B'; /* Signe + */
    font-weight: bold;
    font-size: 1.5em;
    float: right;
    margin-left: 5px;
}

.accordion-header.active:after {
    content: "\2212"; /* Signe - */
}

.accordion-panel {
    padding: 0 1em;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    margin-bottom: 1em;
    border-radius: 0 0 4px 4px;
}

.accordion-panel.open {
    padding: 2em 1em;
    border: 1px solid #ddd;
    border-top: none;
}